NET clock LOC = P54;
NET reset LOC = P69;
NET novo_quarto LOC = P48;
NET para_continua LOC = P47;
NET carga LOC = P41;
NET c_quarto(0) LOC = P10;
NET c_quarto(1) LOC = P6;
NET c_segundos(0) LOC = P38;
NET c_segundos(1) LOC = P36;
NET c_minutos(0) LOC = P29;
NET c_minutos(1) LOC = P24;
NET c_minutos(2) LOC = P18;
NET c_minutos(3) LOC = P12;
NET DSPL_cent_seg(0) LOC = P87;
NET DSPL_cent_seg(1) LOC = P83;
NET DSPL_cent_seg(2) LOC = P17;
NET DSPL_cent_seg(3) LOC = P20;
NET DSPL_cent_seg(4) LOC = P21;
NET DSPL_cent_seg(5) LOC = P23;
NET DSPL_cent_seg(6) LOC = P16;
NET DSPL_cent_seg(7) LOC = P25;
NET anodo(0) LOC = P26;
NET anodo(1) LOC = P32;
NET anodo(2) LOC = P33;
NET anodo(3) LOC = P34;
NET minutos(0) LOC = P15;
NET minutos(1) LOC = P14;
NET minutos(2) LOC = P8;
NET minutos(3) LOC = P7;
NET quarto_led(0) LOC = P5;
NET quarto_led(1) LOC = P4;
NET quarto_led(2) LOC = P3;
NET quarto_led(3) LOC = P2;